<section class="submit">
  <h1 class="submit__heading">Link</h1>
  <h3 class="submit__sub-heading">Head over here to submit your ideas</h3>
  <a
    href="https://forms.gle/LXBkVmYEuWKkPkd1A"
    target="_blank"
    rel="noreferrer noopener"
  >
    <button class="submit__button">Submit Idea</button>
  </a>
  <p class="submit__sub">
    Have doubts? Head
    <a
      class="submit__sub__link"
      href="https://linktr.ee/kick.start.learn"
      target="_blank"
      rel="noreferrer noopener"
    >
      here</a
    >
    to resolve them.
  </p>
</section>
