<section class="about">
  <article>
    <h1 class="about__heading">What is an Ideathon?</h1>
    <h3 class="about__sub-heading">
      First time in an ideathon? Don't worry we've got your back!
    </h3>
    <p class="about__text">
      An ideathon is ideally a short, intensive brainstorming event held to find
      creative and efficient solutions to existing challenges. Participants are
      required to identify any real world challenge and propose a detailed
      technical solution to it.
    </p>
    <p class="about__text">
      To polish your thinking skills, ACM-VIT brings to you (Ideathon 2020), a
      golden opportunity for freshers to put on their thinking caps and come up
      with mindboggling ideas! All you need to do is look over the rules and
      after drafting your idea submit it via the form provided.
    </p>
  </article>
  <img
    class="about__il--left"
    src="assets/vectors/rings-a.svg"
    alt="Illustration 3"
  />
  <img
    class="about__il--right"
    src="assets/vectors/rings-b.svg"
    alt="Illustration 4"
  />
</section>
