<section class="footer">
  <div class="footer__col">
    <header class="footer__col__header">Socials</header>
    <ul>
      <a
        href="https://www.instagram.com/acmvit"
        target="_blank"
        rel="noreferrer noopener"
      >
        <li class="footer__col__item">
          <img
            class="footer__col__item__icon"
            src="assets/vectors/instagram.svg"
            alt="Instagram"
          /><span>Instagram</span>
        </li>
      </a>
      <a
        href="https://facebook.com/ACM.VITU"
        target="_blank"
        rel="noreferrer noopener"
      >
        <li class="footer__col__item">
          <img
            class="footer__col__item__icon--fb"
            src="assets/vectors/facebook.svg"
            alt="Facebook"
          /><span>Facebook</span>
        </li>
      </a>
      <a
        href="https://twitter.com/ACM_VIT"
        target="_blank"
        rel="noreferrer noopener"
      >
        <li class="footer__col__item">
          <img
            class="footer__col__item__icon"
            src="assets/vectors/twitter.svg"
            alt="Twitter"
          /><span>Twitter</span>
        </li>
      </a>
    </ul>
  </div>
  <div class="footer__col">
    <header class="footer__col__header">Contact Us</header>
    <a class="footer__col__item" href="mailto:outreach.acmvit@gmail.com">
      <img
        class="footer__col__item__icon"
        src="assets/vectors/mail.svg"
        alt="Mail"
      /><span>outreach.acmvit@gmail.com</span>
    </a>
  </div>
  <div class="footer__col">
    <a href="https://vit.ac.in/" target="_blank" rel="noreferrer noopener">
      <img
        class="footer__col--logo"
        src="assets/vectors/vit.svg"
        alt="Vellore Institute of Technology, Vellore"
      />
    </a>
  </div>
</section>
