<section class="rules">
  <h1 class="rules__heading">Rules</h1>
  <h3 class="rules__sub-heading">
    Some things to keep in mind while submitting your ideas
  </h3>
  <ul>
    <li class="rules__item">This event is only for freshers (2020 batch).</li>
    <li class="rules__item">Submissions should be individual.</li>
    <li class="rules__item">The idea should be original and implementable.</li>
    <li class="rules__item">
      The theme is open innovation (any viable idea is welcome!).
    </li>
    <li class="rules__item">
      All submissions should be made through the form provided.
    </li>
    <li class="rules__item">
      Decisions of the chapter will be final in all cases.
    </li>
    <li class="rules__item">
      The last date for submission is November 27th, 2020.
    </li>
  </ul>
  <img
    class="rules__il--left"
    src="assets/vectors/dots.svg"
    alt="Illustration 7"
  />
  <img
    class="rules__il--right"
    src="assets/vectors/rules.svg"
    alt="Illustration 8"
  />
</section>
