.landing {
  @apply flex flex-col justify-around items-center h-screen;

  &__logo {
    &__upper {
      @apply flex justify-center items-center;

      &__img {
        @apply h-6 sm:h-auto;
      }

      &__span {
        @apply mx-5 font-semibold text-sm sm:text-lg;
      }
    }

    &__below {
      @apply text-xl font-semibold text-idea-gray text-center mt-8;
    }
  }

  &__subtext {
    @apply text-xl font-semibold text-idea-gray text-center sm:mt-8;
  }

  &__il {
    &--left {
      @apply hidden lg:block absolute left-0;
    }

    &--right {
      @apply hidden lg:block absolute right-0;
    }

    &--mobile--left {
      @apply lg:hidden absolute left-0 bottom-0;
    }

    &--mobile--right {
      @apply lg:hidden absolute right-0 top-0 mt-8;
    }
  }

  &__header {
    @apply text-6xl sm:text-8xl font-bold text-idea-pink;
  }

  &__sub-heading {
    @apply text-xl sm:text-4xl font-semibold;
  }

  &__button {
    @apply py-3 px-8 bg-idea-blue rounded-lg text-xl font-bold text-white hover:bg-blue-500 mb-20 sm:m-0 z-10;
  }

  &__clock {
    @apply text-4xl xs:text-6xl lg:text-8xl font-bold text-idea-pink flex justify-center items-center;

    &__segment {
      @apply flex flex-col justify-center items-center w-12 sm:w-20 lg:w-32;

      &__text {
        @apply text-xs sm:text-sm lg:text-base text-black text-center;
      }
    }

    &__sep {
      @apply text-2xl xs:text-4xl sm:text-6xl text-idea-gray mx-2 xs:mx-5 lg:mx-8;
    }
  }
}
