<section class="landing">
  <div class="landing__logo">
    <div class="landing__logo__upper">
      <img
        class="landing__logo__upper__img"
        src="assets/vectors/ksl.svg"
        alt="Kick. Start. Learn."
      />
      <span class="landing__logo__upper__span">by</span>
      <img
        class="landing__logo__upper__img"
        src="assets/vectors/acm.svg"
        height="1rem"
        alt="ACM VIT"
      />
    </div>
    <h3 class="landing__logo__below">presents</h3>
  </div>
  <img
    class="landing__il--left"
    src="assets/vectors/celebrate.svg"
    alt="Illustration 1"
  />
  <img
    class="landing__il--right"
    src="assets/vectors/ideation.svg"
    alt="Illustration 2"
  />
  <h1 class="landing__header">Ideathon</h1>
  <h2 class="landing__sub-heading">Ideate. Innovate. Incubate.</h2>
  <button class="landing__button">Submit Idea</button>
</section>
