.landing {
  @apply flex flex-col justify-around items-center h-screen;

  &__logo {
    &__upper {
      @apply flex justify-center items-center;

      &__img {
        @apply h-6 sm:h-auto;
      }

      &__span {
        @apply mx-5 font-semibold text-sm sm:text-lg;
      }
    }

    &__below {
      @apply text-xl font-semibold text-idea-gray text-center mt-8;
    }
  }

  &__il {
    &--left {
      @apply hidden lg:block absolute left-0;
    }

    &--right {
      @apply hidden lg:block absolute right-0;
    }
  }

  &__header {
    @apply text-6xl sm:text-8xl font-bold text-idea-pink;
  }

  &__sub-heading {
    @apply text-xl sm:text-4xl font-semibold;
  }

  &__button {
    @apply py-3 px-8 bg-idea-blue rounded-lg text-xl font-bold text-white hover:bg-blue-500 mb-20 sm:m-0;
  }
}
