<section class="prizes">
  <h1 class="prizes__heading">Prizes</h1>
  <h3 class="prizes__sub-heading">
    Nobody leaves empty handed. The prizes include
  </h3>
  <ul>
    <li class="prizes__item">
      Winners get to pitch their ideas (and brag about it)
    </li>
    <li class="prizes__item">Shoutouts on our social media handles!</li>
    <li class="prizes__item">A direct interview during ACM-VIT recruitment!</li>
    <li class="prizes__item">
      And of course, everyone gets the chance to learn something new and
      interact with like minded people!
    </li>
  </ul>
  <img
    class="prizes__il--left"
    src="assets/vectors/prizes.svg"
    alt="Illustration 9"
  />
  <img
    class="prizes__il--right"
    src="assets/vectors/rings-e.svg"
    alt="Illustration 10"
  />
</section>
